
.user_img {
    height: 90px;
    width: 90px;
    border-radius: 50%;
    border: 3px solid var(--ion-color-primary);
    margin: auto;
    margin-bottom: 30px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-width: 90px;
    position: relative;
  }